.Morning{
  padding: 30px;
  text-align: center;
  color: rgb(255, 233, 192);
}

.Noon{
  padding: 30px;
  text-align: center;
  color: rgb(218, 197, 255);
  
}

.Evening{
  padding: 30px;
  text-align: center;
  color: rgb(213, 246, 182);
}